.row
  .slider
    %ul.slides
      %li
        %img{:src => "http://lorempixel.com/580/250/nature/1"}
          / random image
          .caption.center-align
            %h3 This is our big Tagline!
            %h5.light.grey-text.text-lighten-3 Here's our small slogan.
      %li
        %img{:src => "http://lorempixel.com/580/250/nature/2"}
          / random image
          .caption.left-align
            %h3 Left Aligned Caption
            %h5.light.grey-text.text-lighten-3 Here's our small slogan.
      %li
        %img{:src => "http://lorempixel.com/580/250/nature/3"}
          / random image
          .caption.right-align
            %h3 Right Aligned Caption
            %h5.light.grey-text.text-lighten-3 Here's our small slogan.
      %li
        %img{:src => "http://lorempixel.com/580/250/nature/4"}
          / random image
          .caption.center-align
            %h3 This is our big Tagline!
            %h5.light.grey-text.text-lighten-3 Here's our small slogan.
.row
  .col.s10.offset-s1
    .row
      .col.s4
        .row.col.s12.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
      .col.s4
        .row.col.s12.categories
          = image_tag("shirt.png", alt: "A Fine Shirt")
      .col.s4
        .row.col.s12.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
    .row
      .col.s5
        %hr
      .col.s2.categoryHeading BESTSELLERS
      .col.s5
        %hr
    .row
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
    .row
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
    .row
      .col.s5
        %hr
      .col.s2.categoryHeading NEW ARRIVALS
      .col.s5
        %hr
    .row
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
    .row
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
      .col.s3
        .row.categories
          = image_tag("tshirt.png", alt: "A Fine Shirt")
        .row sdkjfdjkd
.col.s12.promotion
  .row.promotion_text dfhdjfd